<div id="page2">

	<div class="placeholder">
		取引先登録
	</div>

	<div class="addcompany">
		<div class="form-group row">
		  会社名
		    <input class="form-control" type="text" placeholder="例）株式会社〇〇" id="example-text">
		</div>
		<div class="form-group row">
		  会社名カナ
		    <input class="form-control" type="text" placeholder="例）カブシキカイシャマルマル" id="example-text">
		</div>
		<div class="form-group row">
		  担当者名
		    <input class="form-control" type="text" placeholder="例）鈴木太郎" id="example-text">
		</div>
		<div class="form-group row">
		  担当者名カナ
		    <input class="form-control" type="text" placeholder="例）スズキタロウ" id="example-text">
		</div>
		<div class="form-group row">
		  担当者メールアドレス
		    <input class="form-control" type="text" placeholder="例）example@gmail.com" id="example-text">
		</div>
	</div>

	<div class="row save">
		<a href="#/companyoverview">
            <button class="btn cancel">
              <i class="glyphicon glyphicon-remove"></i>　キャンセル
            </button>
          </a>
          <button class="btn btn-primary" id="save">
            <i class="glyphicon glyphicon-floppy-disk"></i>　保存
          </button>
	</div>

</div>