<div id="page2">

	<!-- <div class="placeholder">
		現場登録
	</div> -->

	<div class="addcompany">
		<div class="placeholder">
		現場登録
		</div>
		<div class="form-group row">
		  日付
		    <input class="form-control" type="date" value="yyyy-mm-dd" id="example-date">
		</div>
		<div class="form-group row">
		  取引先
		    <select class="form-control">
            	<option>取引先会社</option>
          	</select>
		</div>
		<div class="form-group row">
		  現場名
		    <input class="form-control" type="text" placeholder="例）東京都港区〇〇現場" id="example-text">
		</div>
		<div class="form-group row">
			<div class="col-sm-9">
		    作業時間
		    <div class="row time">
		      <div class="col-xs-8 col-sm-6">
		        FROM<input class="form-control" type="time" value="" id="example-time">
		      </div>
		      <div class="col-xs-8 col-sm-6">
		        TO<input class="form-control" type="time" value="" id="example-time">
		      </div>
		    </div>
		  </div>
		</div>
		<div class="form-group row">
		  作業内容
		    <input class="form-control" type="text" placeholder="例）資料搬入" id="example-text">
		</div>
		<div class="form-group row">
		  人員数
		    <input class="form-control" type="text" placeholder="例）5" id="example-text">
		</div>
	</div>

	<div class="row save">
		<a href="#/siteoverview">
            <button class="btn cancel">
              <i class="glyphicon glyphicon-remove"></i>　キャンセル
            </button>
          </a>
          <button class="btn btn-primary" id="save">
            <i class="glyphicon glyphicon-floppy-disk"></i>　保存
          </button>
	</div>

</div>