<div ng-controller="MainCtrl">
  <div id="page">

    <div class="container" id="search">
      <form role="search">
        <div class="focus-container" tabindex="-1">
          <div class="input-group add-on">
            <input type="text" class="form-control" placeholder="取引先会社名、担当者名、担当者メールアドレス" name="srch-term" id="srch-term">
            <div class="input-group-btn">
              <button id="search" class="btn lg" type="submit">
                <i class="glyphicon glyphicon-search"></i>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>

  </div>

  <div id="page2">

    <div class="row button">
      <a href="#/addcompany">
        <button class="btn btn-primary" id="add">
          <i class="glyphicon glyphicon-plus">　取引先新規登録</i>
        </button>
      </a>
      <button ng-disabled="countChecked1() == 0" class="btn btn-danger" id="deletesite">
        <i class="glyphicon glyphicon-trash">　削除</i>
      </button>
    </div>

    <div class="list-group" id="company">
      <li class="list-group-item" id="head">ア行</li>
      <div href="" ng-repeat="item in companies | filter:{'line':'ア'}" class="list-group-item list-group-item-action">
        <div class="col-lg-6 company">
          <div class="row input-group company">
            <div class="col-lg-1 col-md-1 col-xs-1 companycheckbox">
              <div class="checkbox checkbox-warning">
                <input type="checkbox" aria-label="Checkbox for following text input" class="styled companycheckbox" ng-model="item.isselected"><label for="check2"></label>
              </div>
            </div>
            <div class="col-lg-11 col-md-11 col-xs-8 companyitem">
              <a href="#/company/{{companies.indexOf(item)}}">
                <h4>{{ item.name }}</h4>
                <p>担当者：{{ item.staff }}</p>
              </a>
            </div>
          </div>
        </div>
      </div>

      <li class="list-group-item" id="head">サ行</li>
      <div href="" ng-repeat="item in companies | filter:{'line':'サ'}" class="list-group-item list-group-item-action">
        <div class="col-lg-6 company">
          <div class="row input-group company">
            <div class="col-lg-1 col-md-1 col-xs-1 companycheckbox">
              <div class="checkbox checkbox-warning">
                <input type="checkbox" aria-label="Checkbox for following text input" class="styled companycheckbox" ng-model="item.isselected"><label for="check2"></label>
              </div>
            </div>
            <div class="col-lg-11 col-md-11 col-xs-8 companyitem">
              <a href="#/company/{{companies.indexOf(item)}}">
                <h4>{{ item.name }}</h4>
                <p>担当者：{{ item.staff }}</p>
              </a>
            </div>
          </div>
        </div>
      </div>

      <li class="list-group-item" id="head">タ行</li>
      <div href="" ng-repeat="item in companies | filter:{'line':'タ'}" class="list-group-item list-group-item-action">
        <div class="col-lg-6 company">
          <div class="row input-group company">
            <div class="col-lg-1 col-md-1 col-xs-1 companycheckbox">
              <div class="checkbox checkbox-warning">
                <input type="checkbox" aria-label="Checkbox for following text input" class="styled companycheckbox" ng-model="item.isselected"><label for="check2"></label>
              </div>
            </div>
            <div class="col-lg-11 col-md-11 col-xs-8 companyitem">
              <a href="#/company/{{companies.indexOf(item)}}">
                <h4>{{ item.name }}</h4>
                <p>担当者：{{ item.staff }}</p>
              </a>
            </div>
          </div>
        </div>
      </div>

      <li class="list-group-item" id="head">ナ行</li>
      <div href="" ng-repeat="item in companies | filter:{'line':'ナ'}" class="list-group-item list-group-item-action">
        <div class="col-lg-6 company">
          <div class="row input-group company">
            <div class="col-lg-1 col-md-1 col-xs-1 companycheckbox">
              <div class="checkbox checkbox-warning">
                <input type="checkbox" aria-label="Checkbox for following text input" class="styled companycheckbox" ng-model="item.isselected"><label for="check2"></label>
              </div>
            </div>
            <div class="col-lg-11 col-md-11 col-xs-8 companyitem">
              <a href="#/company/{{companies.indexOf(item)}}">
                <h4>{{ item.name }}</h4>
                <p>担当者：{{ item.staff }}</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
