<div class="login-page" ng-hide="login" id="page3">
  <div class="loginform">
  	<div ng-hide="pwreset">
	    <form class="login-form">
	    	<h1 style="margin: -8px">パスワードを再設定</h1>
	    	<p>新しいパスワードを入力してください。</p>
			<input type="password" placeholder="新しいパスワード"/>
			<input type="password" placeholder="新しいパスワードの確認"/>
	      <a href=""><button class="loginbtn" ng-click="pwreset=true">パスワードを再設定</button></a>
	    </form>
	</div>

  	<div ng-hide="return">
	    <form class="login-form" ng-show="pwreset">
	    	<br>
	    	<br>
	    	<h1>パスワードの再登録が完了しました。</h1>
	    	<br>
	    	<br>
			<a href="#/login"><button class="loginbtn">ログイン画面へ</button></a>
	    </form>
  	</div>
</div>