<div ng-controller="MainCtrl">
  <div id="page">

    <!-- search bar -->
    <div class="container" id="search">
      <form role="search">
        <div class="focus-container" tabindex="-1">
          <div class="input-group add-on">
            <input type="text" class="form-control" placeholder="現場名、現場ID、取引先会社名、担当者名" name="srch-term" id="srch-term">
            <div class="input-group-btn">
              <button id="filter" class="btn lg" type="button" ng-click="isFilterOpen = !isFilterOpen">
                <i class="glyphicon glyphicon-triangle-bottom"></i>
              </button>
              <button id="search" class="btn lg" type="submit">
                <i class="glyphicon glyphicon-search"></i>
              </button>
            </div>
          </div>
        </div>
      </form>

      <!-- search filter -->
      <div ng-init="isFilterOpen = false" ng-show="isFilterOpen" class="filtermenu">
        <div class="input-group filter">
          <p>現場名</p>
          <input type="text" class="form-control filter">
        </div>
        <div class="input-group filter">
          <p>現場ID</p>
          <input type="text" class="form-control filter">
        </div>
        <div class="input-group filter">
          <p>取引先会社</p>
          <select class="form-control filter">
            <option>取引先会社</option>
          </select>
        </div>
        <div class="input-group filter">
            <p>日付範囲</p>
            <div class="row time">
              <input class="form-control filter" type="date" value="yyyy-mm-dd" id="example-date-input" style="border-radius: 4px; margin-left: 1em; margin-right: 1em">
              <div class="col-xs-1">
                <p style="text-align: center!important; padding-top: 10px">〜</p>
              </div>
              <input class="form-control filter" type="date" value="yyyy-mm-dd" id="example-date-input" style="border-radius: 4px; margin-left: 1em; margin-right: 1em">
          </div>
        </div>
        <div class="input-group filter">
          <input type="checkbox" class="form-check-input">
            連絡済み
          <br>
          <input type="checkbox" class="form-check-input">
            サイン済み
        </div>
        <div class="input-group filter">
          <button id="search" class="btn" type="submit">
            <i class="glyphicon glyphicon-search"></i>
          </button>
          <a>　検索条件をクリア</a>
        </div>
      </div> <!-- search filter ends -->
    </div> <!-- search bar ends -->
  </div>

  <div id="page2">
      <!-- add/delete button -->
      <div class="row button">
          <a href="#/addsite">
            <button class="btn btn-primary" id="add">
              <i class="glyphicon glyphicon-plus">　現場新規登録</i>
            </button>
          </a>
          <button ng-disabled="countChecked() == 0" class="btn btn-danger" id="deletesite">
            <i class="glyphicon glyphicon-trash">　削除</i>
          </button>
      </div> <!-- add/delete button ends -->

      <!-- site list -->
      <div class="site-list-group" id="sites">
        <!-- Table -->
        <table class="table searchable table-striped table-hover">
          <thead>
            <tr>
              <th style="width:42px; padding:10px 0 10px 14px;"><input type="checkbox" id="check-all" /></th>
              <th>現場名</th>
              <th>取引先</th>
              <th>日付　<i class="glyphicon glyphicon-chevron-down"></i></th>
              <th>現場 ID</th>
              <th>状態</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in sites | filter:{'status':'未署名'}" class='clickable-row' id='ClickableRow' data-href='#/unsignedsites/{{sites.indexOf(item)}}'>
              <td style="width:42px; padding:10px 0 10px 14px;">
                <input type="checkbox" class="row-check" ng-model="item.ischecked"/>
              </td>
              <td>{{ item.name }}現場</td>
              <td>{{ item.company }}</td>
              <td>{{ item.date }}</td>
              <td>{{ item.id }}</td>
              <td>{{ item.status }}</td>
            </tr>
            <tr ng-repeat="item in sites | filter:{'status':'署名済み'}" class='clickable-row' id='ClickableRow' data-href='#/signedsites/{{sites.indexOf(item)}}'>
              <td style="width:42px; padding:10px 0 10px 14px;">
                <input type="checkbox" class="row-check" ng-model="item.isdisabled"/>
              </td>
              <td>{{ item.name }}現場</td>
              <td>{{ item.company }}</td>
              <td>{{ item.date }}</td>
              <td>{{ item.id }}</td>
              <td>{{ item.status }}</td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>