/* Space out content a bit */
body {
  width: 100%;
  height: 100%;
  background: #F6F6F6;
  font-family: Helvetica , "游ゴシック" , "Yu Gothic" , sans-serif;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding: 0 15px;
}

.header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 999;
}

.centered {
  text-align: center;
}

/*==========================================

LOGIN.HTML

===========================================*/
.login-page{
  background: #F6F7FC;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.loginform {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  height: 310px;
  margin: 13em auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 #ddd, 0 5px 5px 0 #ddd;
}

.loginform input {
  outline: 0;
  width: 100%;
  border: 0;
  background: #f2f2f2;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.loginform button {
  outline: 0;
  background: none;
  width: 100%;
  height: 50px;
  border: solid 2px #4A90E2;
  border-radius: 30px;
  padding: 15px;
  color: #4A4A4A;
  font-size: 14px;
  cursor: pointer;
}

.loginform button:hover,.loginform button:active {
  background: #4A90E2;
  color: white;
}

.loginform a{
  padding-top: 10px;
}

/*==========================================

INDEX.HTML

===========================================*/
/*sidebar toggle*/
#toggle {
  display: none;
}

.toggleButton {
  text-transform: uppercase;
  text-align: center;
  color: white;
  width: 60px;
  line-height: 24px;
  padding-top: 10px;
  padding-bottom: 8px;
  font-size: 16px;
  display: block;
  position: absolute;
  z-index: 20;
  background: #2C2C2C;
  cursor: pointer;
}

.toggleButton:hover {
  background: #FF9F00;
}

#toggle:checked + .toggleButton {
  background: none;
  margin-left: 140px;
  margin-top: 3px;
}

#toggle:checked + .toggleButton + #sidebar {
  left: 0;
}

#toggle:checked + .toggleButton + #sidebar + #page {
  padding-left: 100px;
}

/*sidebar menu*/
#sidebar {
  z-index: 10;
  width: 200px;
  height: 100%;
  left: -200px;
  position: fixed;
  background: #2C2C2C;
  -webkit-transition: left 200ms linear;
  transition: left 200ms linear;
}

#sidebar h5 {
  color: #f2f2f2;
  font-weight: 200;
  font-size: 20px;
  padding-left: 1em;
}

#nav {
  margin-top: 40px;
}

#nav a {
  color: #eee;
  text-decoration: none;
  display: block;
  padding: 10px 0 10px 1.5em;
}

#nav a:hover,
#nav a:active,
#nav a:focus {
  background: #121212;
  color: #fff;
  display: block;
  border-left: solid 7px #FF9F00;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

span.menutitle{
  padding-left: 1.35em;
  font-size: 15px;
  font-weight: 200;
  color: #858594;
}

li.sub-menu{
  margin-top: 1.5em;
}

ul{
  padding: 0;
}

/*ng-view*/
#page {
  /*z-index: 0;*/
  padding-left: 0;
  position: relative;
  height: 100%;
  padding-left: 60px;
  -webkit-transition: padding-left 200ms linear;
  transition: padding-left 200ms linear;
}

#page2 {
  position: relative;
  padding: 2em;
}

#page3 {
  position: fixed;
}

.content {
  padding: 20px;
  min-height: 100%;
}

/*responsive*/
/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .col-lg-6{
    width: 100%;
    float: none;
  }
}

@media screen and (min-width: 640px) {
  #sidebar {
    left: 0 !important;
  }

  #page {
    padding-left: 200px !important;
  }

  .toggleButton {
    display: none !important;
  }
}

@media (min-width: 640px) and (max-width: 5000px) {
  #page2{
      padding-left: 16em!important;
    }
}

/*BUTTON STYLE*/
/*add/delete button*/
.row.button{
  padding: 0 2em 1em 2em;
}

button#add.btn.btn-primary{
  margin-right: 1em;
}

button#add.btn.btn-primary:focus,
button#delete.btn.btn-danger:focus{
  outline: none;
}

/*==========================================

COMPANYOVERVIEW.HTML

===========================================*/
/*--company list style--*/
#company.list-group{
  padding: 0 1em;
  border-radius: 0;
  height: 100%;
}

.list-group-item.list-group-item-action.ng-scope:hover{
  background: #F7F7F8;
  font-weight: 500;
  cursor: pointer;
}

#head.list-group-item{
  background: #F7F7F8;
  font-weight: 500;
  color: #858594;
}

#company.list-group h4{
  font-size: 16px;
  font-weight: 300;
}

#company.list-group p{
  font-size: 14px;
  font-weight: 200;
  line-height: 5px;
}

.list-group-item:first-child{
  border-radius: 0;
}

.list-group-item:last-child{
  border-radius: 0;
}

.col-lg-6.company{
  padding-left: 0;
}

.companyitem a{
  color: #4A4A4A;
  text-decoration: none;
}

.companyitem a:hover{
  color: #FF9F00;
  text-decoration: none;
}

/*checkbox style*/
.row.input-group.company{
  width: 100%;
}

.companycheckbox{
  width: 40px;
  margin-top: 0.5em;
}

/*==========================================

COMPANYDETAIL.HTML

===========================================*/
.row.deletebutton{
  padding: 1em 3em 0 3em;
  margin-bottom: -4em;
}

/*==========================================

ADDCOMPANY.HTML

===========================================*/
.placeholder{
  margin-bottom: 2em;
  height: 1px;
  /*padding: 1.5em 0 1em 2em;*/
  font-size: 20px;
  font-weight: 500;
  color: #4A4A4A;
}

.addcompany{
  height: 100%;
  border: solid 1px #ddd;
  padding: 1em;
  background: white;
  box-shadow: 1px 1px 3px #ddd;
}

.editcompany{
  height: 100%;
  border: solid 1px #ddd;
  margin: 1em 2em;
  padding: 1em;
  background: white;
  box-shadow: 1px 1px 3px #ddd;
}

.form-group.row{
  padding: 1em 1em 0 1em;
  color: #4A4A4A;
  font-weight: 500;
}

input#example-text.form-control{
  border-radius: 4px;
}

.row.save{
  padding: 1em;
}

button#save.btn.btn-primary,
button#save.btn.btn-success{
  float: right;
  font-weight: 300;
}

.btn.cancel{
  color: white;
  background: linear-gradient(#B0B0B0, #7E7E7E);
  border: solid 1px #ddd;
  text-align: center;
  font-weight: 300;
}

/*==========================================

ADDSITE.HTML

===========================================*/
input#example-date.form-control{
  border-radius: 4px;
}

input#example-time.form-control{
  border-radius: 4px;
  margin-top: 0;
  width: 100%;
}

select.form-control, input{
  font-weight: 300;
}

.col-sm-12{
  padding-left: 0;
  padding-right: 0;
}

.row.time{
  font-weight: 200;
}

/*==========================================

SIGNED.HTML + UNSIGNED.HTML

===========================================*/
.row.detailbutton{
  padding: 1em;
}

.row.editbutton{
  padding: 0 3em 0 3em;
}

button#deletesite.btn.btn-danger{
  float: right;
}

button#edit.btn.btn-primary{
  margin-left: 10px;
}

table.table.detail, td.leftdetail, td.rightdetail{
  border: none!important;
}

td.leftdetail{
  width: 190px;
  font-weight: 500;
  padding: 8px 0!important;
}

td.rightdetail{
  padding: 8px 0!important;
  font-weight: 200;
}

input#disabledTextInput.form-control{
  border-radius: 4px;
}

#symbol.col-xs-8.col-sm-6{
  width: 60px;
  padding: none!important;
}

.deletequestion{
  float: right;
  width: 65px;
  height: 30px;
  border: none;
  color: gray;
  background: none;
}

.deletequestion:focus{
  outline: none;
}

/*==========================================

SITEOVERVIEW.HTML

===========================================*/
/*search style*/
.container{
  width: 100%;
}

#search.container{
  padding: 0;
}

/*.navbar-form{
  padding: 0 15px;
  margin-top: 0;
  margin-bottom: 0;
  border: none;
  box-shadow: none;
}*/

button#search.btn{
  background: #4A90E2;
  width: 90px;
  color: white;
  border-radius: 0;
}

button#search.btn:hover{
  background: #2370C9;
}

button#search.btn:focus{
  outline: none;
}

button#filter.btn{
  background: white;
  color: #9B9B9B;
  border-radius: 0;
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
}

button#filter.btn:focus{
  outline: none;
}

.form-control{
  box-shadow: none;
  border-radius: 0;
  height: 42px;
}

.btn.lg{
  height: 42px;
}

/*filter style*/
.filtermenu{
  background: white;
  width: 77.4%;
  border: solid 1px #ccc;
  border-top: none;
  box-shadow: 1px 1px 3px #ccc;
  position: absolute;
  z-index: 2;
}

.input-group.filter{
  width: 100%;
  padding: 10px 15px;
  color: #4A4A4A;
  font-weight: 300;
}

.input-group.filter p{
  color: #4A4A4A;
}

input#example-date-input.form-control{
  width: 170px;
  height: 38px;
  margin-right: 3em;
}

input.form-control.filter,
select.form-control.filter{
  height: 38px;
}

.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child>.btn-group:not(:first-child)>.btn, .input-group-btn:first-child>.btn:not(:first-child), .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group>.btn, .input-group-btn:last-child>.dropdown-toggle,
.input-group .form-control:not(:first-child):not(:last-child), .input-group-addon:not(:first-child):not(:last-child), .input-group-btn:not(:first-child):not(:last-child){
  border-radius: 4px;
}

.input-group.filter a{
  text-decoration: none;
  cursor: pointer;
  color: #4A4A4A;
}

/*site list head*/
.site-group-head{
  background: white;
  font-weight: 500;
  color: #858594;
  padding: 0 1em;
  border: solid 0.5px #ddd;
  border-bottom: solid 2px #ddd;
}

#sitehead{
  background: #F7F7F8;
}

.sitecheckbox{
  width: 50px;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  margin-left: 1em;
}

.headname{
  padding-top: 1em;
  padding-bottom: 1em;
  border-left: solid 1px #ddd;
  font-weight: 600;
  color: #4A4A4A;
}

/*list of sites*/
.site-group-item{
  background: white;
  font-weight: 500;
  color: #858594;
  padding: 0 1em;
  border-bottom: solid 0.5px #ddd;
  border-right: solid 0.5px #ddd;
  border-left: solid 0.5px #ddd;
}

.site-group-item.site-group-item-action.ng-scope:hover{
  background: #F7F7F8;
  font-weight: 500;
  cursor: pointer;
}

.sitelist{
  padding: 0;
  margin: 0 1em;
  height: auto;
}

.sitelisting{
  height: 100%;
}

.sitelistlink{
  color: #4A4A4A;
  font-weight: 200;
}

.sitelistlink:hover{
  color: #FF9F00;
}

.sitelistcheckbox{
  width: 50px;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  margin-left: 1em;
}

.sitelistitem{
  height: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
}

